{% extends 'Home/base.html' %}
{% load static %}

{% block title %}Add Discipline - EduSphere{% endblock %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add Discipline</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'academic:dashboard' %}">Academic</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'academic:view_discipline' %}">Disciplines</a></li>
                        <li class="breadcrumb-item active">Add Discipline</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Discipline Information</span></h5>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Program <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="program" placeholder="e.g., BS, MS, PhD" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Field <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="field" placeholder="e.g., Computer Science" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a href="{% url 'academic:view_discipline' %}" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}